<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151968879176-iok3i88b38fvp2bqiso4ap164ipnm89c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151968879176-iok3i88b38fvp2bqiso4ap164ipnm89c</string>
	<key>API_KEY</key>
	<string>AIzaSyC0yiqd-PJiFZOInTc3yrQquIzMPK__Oyw</string>
	<key>GCM_SENDER_ID</key>
	<string>151968879176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rlagksruf16.chatService</string>
	<key>PROJECT_ID</key>
	<string>chat-service-51a36</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-service-51a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151968879176:ios:f65ac4806f3d9a5bd13e7d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-service-51a36.firebaseio.com</string>
</dict>
</plist>